#my-attacks > .hit {
    color: blue;
}

#opponent-attacks > .hit {
    color: red;
}

.success {
    color: green;
}

.error {
    color: red;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, min-content);
}

#game-board .cell:hover:not([disabled]) {
    background-color: darkblue;
}

#grid .cell {
    width: 20px;
    height: 20px;
}

.cell {
    background-color: lightgrey;
}

.cell.selected {
    background-color: grey;
}

.cell.selectable {
    background-color: blue;
}

.cell.disabled {
    
}

.cell.occupied {
    background-color: grey;
}

.cell.hit {
    
}

.cell.miss {
    
}

.hidden {
    display: none!important;
}