#my-attacks > .hit {
    color: blue;
}

#opponent-attacks > .hit {
    color: red;
}

.success {
    color: green;
}

.error {
    color: red;
}

#grid, #attack-grid {
    display: grid;
    grid-template-columns: repeat(10, min-content);
    width: fit-content;
}

.cell:hover:not([disabled]) {
    background-color: darkblue;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    line-height: 30px;
    font-size: 30px;
    font-weight: bold;
}

.cell.selected {
    background-color: grey;
}

.cell.selectable {
    background-color: blue;
}

.cell.occupied,
.cell.hit {
    background-color: grey;
}

.cell.hit,
.cell.miss {
    color: black;
}

.cell.attack {
    background-color: red;
    color: white;
}

.hidden {
    display: none!important;
}

#battleship-select {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
}

#battleship-select input {
    display: none;
}

#battleship-select label {
    display: block;
    background-color: white;
    padding: 0.5em;
    outline: solid 1px black;
}

#battleship-select div:has(:checked) label {
    background-color: lightgrey;
}

#battleship-select div:has(.placed) label::after {
    content: '\2713';
    color: green;
}

#game-board {
    display: flex;
    flex-flow: row wrap
}

#grid-layout {
    display: flex;
    flex-flow: row wrap;
}