body {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;

    grid-template-rows: auto 1fr;

    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-template-areas: "sidebar battleship spacer";

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr;

    gap: 3rem;
}

h1 {
    width: 100vw;
    text-align: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

form {
    border: inset 2px;
}

#create-join-game {
    grid-area: sidebar;
}

#my-attacks > .hit {
    color: blue;
}

#opponent-attacks > .hit {
    color: red;
}

.success {
    color: green;
}

.error {
    color: red;
}

#grid, #attack-grid {
    display: grid;
    grid-template-columns: repeat(10, min-content);
    width: fit-content;
}

.cell:hover:not([disabled]),
.cell:focus:not([disabled]) {
    background-color: darkblue;
}

.cell {
    width: 25px;
    height: 25px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    line-height: 25px;
    font-size: 25px;
    font-weight: bold;
}

.cell.selected {
    background-color: grey;
}

.cell.selectable {
    background-color: blue;
}

.cell.occupied,
.cell.hit {
    background-color: grey;
}

@keyframes hiccup {
    from {
        transform: scale(1.0);
    }
    50% { 
        transform: scale(1.5);
    }
    to {
        transform: scale(1.0);
    }
}

.cell.hit,
.cell.miss {
    color: black;
    animation: 0.3s ease-out 0s 1 both hiccup;
}

.cell.attack {
    background-color: red;
    color: white;
}

.hidden {
    display: none!important;
}

#battleship-select {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
}

#battleship-select input {
    display: none;
}

#battleship-select label {
    display: block;
    background-color: white;
    padding: 0.5em;
    outline: solid 1px black;
}

#battleship-select div:has(:checked) label {
    background-color: lightgrey;
}

#battleship-select div:has(.placed) label::after {
    content: '\2713';
    color: green;
}

#game-board {
    display: flex;
    flex-flow: row wrap
}

#grid-layout {
    grid-area: battleship;

    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-areas: 
    "game attack my-attacks"
    "game attack opp-attacks";

    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;

    gap: 10px;

    max-width: fit-content;
    padding: 2rem;

    background-color: lightgrey;
}

#grid-layout:has(#battleship-select.hidden) {
    grid-template-columns: 2fr 2fr 1fr;
}

#game-board-container {
    grid-area: game;
}

#attack-board-container {
    grid-area: attack;
}

#attack-board-container,
#game-board-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: 100%;
}

#game-board, #attack-board {
    align-self: end;
    height: fit-content;
    width: fit-content;
    padding: 1em;
}

#my-attacks-container {
    grid-area: my-attacks;
    height: 100%;
    overflow: hidden;
}

#opponent-attacks-container {
    grid-area: opp-attacks;
    height: 100%;
    overflow: hidden;
}

#my-attacks-container, #opponent-attacks-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    width: 100%;
    height: 100%;

    border: 2px inset;
    padding: 0 1em;

    box-sizing: border-box;
}

#my-attacks, #opponent-attacks {
    height: 100%;
    overflow: scroll;

    margin: 0;
    padding: 0;
}

#my-attacks li:nth-child(2n), 
#opponent-attacks li:nth-child(2n) {
    background-color: lightgrey;
}